.login-container{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}
.login-container__h3{
    margin: 0.5rem 0 1.5rem 0;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.login-container__goto_signup{
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}
.login-container__signup-link{
    color:#31A93E;
    text-decoration: underline;
}