.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
}

#recaptcha-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    text-align: center;
}

.welcome {
    padding: 1rem;
}

.verify-container {
    padding: 1rem;
}

.icon {
    padding: 0.5rem;
}

.label-text {
    padding: 1rem;
}

.phone-input {
    margin: 1rem;
}

button {
    padding: 1rem;
    border: none;
    background-color: var(--black-color);
    cursor: pointer;
}

button span {
    color: var(--white-color);
}

.create-account {
    margin-top: 1rem;
}

.create-account a {
    color: var(--primary-color);
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

#otp-cont{
    background-color: aqua;
    padding:2rem;
}