.location-container {
    width: 100%;
    height: fit-content;
}

.location-container__title {
    color: #555454;
    font-size: 15px;
    padding: 2px;
}
.location-container__title{
    color: #555454;
    font-size: 15px;
    padding: 2px;
}
.location-container__search {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.location-container__search input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.location-container__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.location-container__card {
    padding: 2rem;
    margin: 10px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.location-container__card:hover {
    border:2px solid #31A93E;
}

.location-container__card--active {
    background-color: #E6F4E7;
    border:2px solid #31A93E;
}

.location-container__name,
.location-container__contact {  
    text-align: center; 
    font-size: 1rem;
    padding: 4px;
}

