.model-flex{
    display: flex;
    margin-left: 20rem;
}
.model-title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20rem;
    font-size: 20px;
}
.btns{
    padding: 10px 20px;
    margin-right: 6px;
    
}