.user-deatils-container{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-details-container__input-container{
    display: flex;
    width:400px;
    justify-content: center;
    align-items: center;
}
.user-details-container__input__label{
    color: #555454;
    font-size: 15px;
    padding: 2px;
    width:100px;
    margin-right: 20px;
}
.user-details-container__input_data{
    border:none;
}
.user-details-container__btn{
    margin:2rem auto;
    width:100%;
    border-radius:5px;
    padding:1rem;
    border: none;
    background-color: black;
    color:white;
    cursor: pointer;
}
.user-details-container__btn span{
    color:white;
}
.user-details-container__btn:hover{
    background-color: #31A93E;
    color:white;
}