.demo-drive-page {
    width: 100%;
    height: 88vh;
    display: flex;    
    flex-direction: row;    
    overflow-y:hidden;    
    font-family: "Poppins", sans-serif;
    background-color: #F7F7F7;
}
.demo-booking-holder{
    width:60%;
    overflow-y: auto;
    padding: 2rem 4rem;
}
.demo-booking-holder::-webkit-scrollbar{
    display: none;
}
.demo-user-details{
    padding:2rem;
    margin-bottom: 7rem;
}
.demo-user-details h1,
.demo-booking-details h1{
        margin: 0.5rem 0 1.5rem 0;
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
}
.demo-booking-details__label{
    color:#555454;
    font-size: 13px;
    padding: 2px;
}
.demo-booking-details__zip-code-input{
    margin-bottom: 1rem;
}
.demo-booking-details__input{
    font-size: 13px;
    color:#555454;
    padding: 0.5rem;
    border:0.5px solid #555454;
    border-radius: 20px;
}
.demo-booking-details__button{
    background-color: #00D5E5;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 30px;
}
.demo-booking-details__button:hover{
    background-color: #CCCBCB;
    font-weight: 500;
}
.demo-img-holder {
    flex: 1;  
    box-sizing: border-box;
    height:fit-content;
    margin-top: -150px;
    width: 500px;
    height:700px;
}
.demo-img-holder img {
    max-width: 100%;
    height: auto; 
    display: block; 
    height: 100vh;
}
@media (max-width: 768px) {
    .demo-drive-page {
        flex-direction: column;
    }

    .demo-booking-holder {
        width: 100%;
        padding: 1rem;
    }

    .demo-img-holder {
        display: none; 
    }
    
    .demo-booking-holder {
        width: 100%;
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .demo-user-details h1,
    .demo-booking-details h1 {
        font-size: 2rem; 
    }
    
    .demo-booking-details__button {
        font-size: 14px; 
        padding: 0.5rem 1rem; 
    }
    
    .demo-booking-details__input {
        font-size: 12px;
    }
}