.phone-verification-container {
  width: 100%;
  height: fit-content;
}

.phone-verification-container__title {
  color: #555454;
    font-size: 15px;
    padding: 2px;
}

.phone-verification-container__btn {
    width: 99%; 
    padding: 1rem; 
    background-color: #000000; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.phone-verification-container__btn span {
  color: white;
}

.phone-verification-container__btn .animate-spin {
  margin-right: 5px;
  animation: spin 1s linear infinite;
}
.phone-verification-container .phoneInput{
  margin:1rem 0;
}

.phone-verification-container .phoneInput input{
  padding:0 0 0 4rem ;
  width:90%;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-family: 'Poppins',sans-serif;
}
.phone-verification-container .phoneInput input:focus{
  border:2px solid #31A93E;
  background-color :#E6F4E7;
}
.phone-verification-container__note{
  font-size: 13px;
  color:#555454;
}
.phone-verification-container__note span{
  font-weight: bold;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

