.pre-booking-page {
    background-color: white;
    width: 100%;
    height: 88vh;
    display: flex;    
    overflow-y:hidden;    
    font-family: "Poppins", sans-serif;
}
.pre-booking-page__model-list{
    width:74%;
    padding: 3rem 4rem;
    overflow-y: hidden;
}
.pre-booking-page__booking-steps{
    width:35%;
    overflow-y: auto;
    padding: 2rem 4rem 0 2rem;    
}
.pre-booking-page__model-item{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    border-radius:30px;
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom right,#dfdfdf 20%, #fff 80%);
    transition: 0.5s ease;
    cursor: pointer;
}
.pre-booking-page__model-item.active,
.pre-booking-page__model-item:hover{
    border:2px solid #00D5E5;
    background-image: linear-gradient(to right,#fff , #fff);
}
.pre-booking-page__model-img{
    width:40%;}
.pre-booking-page__model-img img{
    width: 100%;
}
.pre-booking-page__model-details{
    width:60%;
    height:100%;
    padding: 0;
}
.pre-booking-page__model-name{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}
.pre-booking-page__price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pre-booking-page__price p{
    color:#555454;
}
.pre-booking-page__price h3,
.pre-booking-page__model-name h2{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.pre-booking-page__model-color-swatch,
.pre-booking-page__model-data,
.pre-booking-page__model-name{
    height:auto;
}
.pre-booking-page__model-color-swatch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 0;
    padding:  0;
}
.pre-booking-page__model-color-swatch .color-swatch{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;    
    border: 0.5px solid #dfdfdf;
    transition: transform 0.3s, box-shadow 0.3s;
}
.pre-booking-page__model__info{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;  
    width:100%;    
}
.pre-booking-page__model__data{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
}
.pre-booking-page__label{
    color:#555454;
    margin: 0;
}
.pre-booking-page__value{
    margin: 5px 0;
}
.pre-booking-page__value sup{
    font-size: 13px;
}
.pre-booking-page__step__1__h1{
    margin: 0.5rem 0 1.5rem 0;
    font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
    font-weight:500 ;
}
.pre-booking-page__step__1__span,
.pre-booking-page__step__1__p{
    color:#555454;
    font-size: 15px;
    padding: 2px;
    margin-bottom: 1.5rem;
}
.pre-booking-page__step__1__label {
    color:#555454;
    font-size: 13px;
    padding: 2px;
}
.pre-booking-page__step__1__btn{
    width:100%;
    border-radius: 30px;
    background-color: #00D5E5;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 1rem;
}