.variant-card__item{
    width:350px;
    height: auto;
    margin: 1rem;   
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    border:0.5px solid #F7F7F7;  
}
.variant-card__item__nameprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}
.variant-card__item__carname{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.variant-card__item__imgholder{
    display:flex ;
    justify-content: center;
    background-image: linear-gradient(118deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
}
.variant-card__item__imgholder img{
    width:90%;
    height: 100%;
    margin: 1rem 0;
}
.variant-card__item__carname__name{
    font-size: 2rem;
    font-weight: 500;
}
.variant-card__item__carprice__p,
.variant-card__item__carname__p{
    font-size:18px;
    font-weight: 400;
}
.variant-card__carprice{
    font-size: 2rem;
    font-weight: 500;
}

.variant-card__carprice{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.variant-card__item__model-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 1rem;
}
.variant-card__item__model-details__item__range,
.variant-card__item__model-details__item__speed,
.variant-card__item__model-details__item__acc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 2px;
}
.variant-card__item__model-details__item__range p,
.variant-card__item__model-details__item__speed p,
.variant-card__item__model-details__item__acc p{
    font-size: 2rem;
    font-weight: 500;
}
.variant-card__item__carprice__p,
.variant-card__item__model-details__item__range span,
.variant-card__item__model-details__item__speed span,
.variant-card__item__model-details__item__acc span{
    color:#918F8F;
    font-size: 14px;
}
.variant-card__item__model-details__item__speed .speed,
.variant-card__item__model-details__item p{
    padding: 0 1rem;
}
.variant-card__item__model-details__item__speed{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.variant-card__item__model__model-data{
    display: flex;
    justify-content: center;
}
.variant-card__item__model__right-section,
.variant-card__item__model__left-section{
    width:50%;
    height: 100%;;
    padding: 2rem;
}
.variant-card__item__model__left-section .steering,
.variant-card__item__model__left-section .seatingCap,
.variant-card__item__model__right-section .autopilot{
    display: flex;
    line-height: 18px;
}
.variant-card__item__model__right-section .autopilot svg{
    padding: 0 5px;
    width:30px;
    height: auto;
}
.variant-card__item__model__left-section .steering .feature,
.variant-card__item__model__option-list .feature,
.variant-card__item__model__left-section .seatingCap .feature,
.variant-card__item__model__right-section .autopilot .feature{
    font-weight: 400;
    font-size: 18px;
    padding: 0.5rem 0;
}
.variant-card__item__model__option-list__ul{
    margin:0 2rem;
}
.variant-card__item__model__option-list{
    padding: 0 2rem;
    display: flex;
}
.variant-card__item__model__option-list .color-swatch{
    display: inline-flex;    
    margin: 0 -0.3rem;
    border:1px solid #918F8F;
}
.variant-card__btn-group{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}
.variant-card__btn-group_btn{
    width:45%;
    padding: 1rem;
    background-color: #000000;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Poppins",sans-serif;
}
.variant-card__btn-group_btn:hover{
    background-color: #31A93E;
}

@keyframes appear_card {
    from {
        opacity: 0.8;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(0.8);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    }
}