.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: white;
  z-index: 10000;
  font-family: "Poppins", sans-serif;
  border-bottom: 0.5px solid #CCCBCB;
  
}

.navbar__logo {
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.navbar__menu-btn {
  display: none;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.navbar__items {
  flex: 1;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar__item {
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 500;
  color: black;
}

.navbar__item:hover {
  border-radius: 5px;
  font-weight: 300;
  color: black;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.navbar__profile {
  display: flex;
  align-items: center;
}

.navbar__profile-icon {
  display: inline;
}

/* Tablets and larger screens */
@media (min-width: 600px) {
  .navbar__item {
    font-size: 13px;
  }
}

/* Desktops and larger screens */
@media (min-width: 768px) {
  .navbar__item {
    font-size:8px;
    margin: 5px 15px;
  }

  .navbar__profile-icon {
    width: 60px;
  }
}

/* Small screens (phones) */
@media (max-width: 599px) {
  .navbar__menu-btn {
    display: block;
  }

  .navbar__items {
    flex-direction: column;
    width: 100%;
    text-align: left;
    display: none;
  }

  .navbar__item {
    display: block;
  }

  .navbar__profile {
    align-self: flex-end;
    display: none;
  }

  .navbar--active .navbar__items,
  .navbar--active .navbar__profile {
    display: block;
  }
}
