@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.home-page-container {
    width: 100%;
    height: fit-content;
    background-color: white;
}

.home-page-container__header-section {
    background-color: transparent;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;
}

.header-section__name {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 0 2rem;
}

.header-section__tagline {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0 2rem;
}

.home-page-container__video-container {
    width: 100%;
    height:100vh;
    height: auto; /* Change to auto to maintain aspect ratio */
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation: appear linear;
    animation-timeline: view();
    background-color: transparent;
    overflow: hidden; 
}

.home-page-container__video-container video {
    border-radius: 30px;
    width: 80%; 
    height: auto; 
    object-fit: cover;
} 
.home-page-container__car-info {
    background: rgb(42, 46, 56);
    background: linear-gradient(0deg, rgba(42, 46, 56, 1) 0%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 100%);
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-container__car-info__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page-container__showroom-button {
    background-color: white;
}

.home-page-container__h2 {
    margin-top: 100px;
    color: #3B3E4B;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 600px;
    padding: 0;
}

.home-page-container__p {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 50px;
    padding: 0;
    line-height: 90px;
    text-align: center;
}

.home-page-container__img {
    width: 80%;
}

.home-page-container__showroom-button {
    background-color: pink;
}

.model-list__title{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0 0;
    animation: appear_noscale  linear;
    animation-timeline: view();
}
.model-list__link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    animation: appear_noscale  linear;
    animation-timeline: view(); 
}
.model-list__link-container:hover svg{
    transform: translateX(5px);
}
.model-list__link{
    text-decoration: underline;
    font-size: 1.5rem;
    display: flex;
    color:#31A93E;
}
.home-page-container__model-hearder-section{
    background-color: transparent;
    display: flex;
    padding: 5rem 6rem 1rem 5rem;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}
.home-page-container__model-list{
    padding:5rem 0 2rem 0;
}
.home-page-container__find-model-list{
    width: fit-content;
    display: flex;
    align-items: center;
}
.home-page-container__find-model-list::-webkit-scrollbar{
    display: none;
}

.home-page-container__model-list{
    background-color: #F7F7F7;
}
.home-page-container__explore-model-list{
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    padding:0 10rem;
}
.home-page-container__explore-model-item {
    min-width: 350px;
    max-width: 350px;
    height: fit-content;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;    
    border-bottom:1px solid gray;
    padding:2rem 2rem;
}
.home-page-container__find-model-item::-webkit-scrollbar,
.home-page-container__explore-model-item::-webkit-scrollbar,
.home-page-container__explore-model-list::-webkit-scrollbar{
    display: none;
}
.home-page-container__explore-model-item img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
}
.home-page-container__explore-model-item:hover{
    background-color: #E6F4E7;
}
.home-page-container__explore-model-item:hover img{
    scale: 1.2;
    transition: all ease 0.3s;
}
.home-page-container__explore-model-item__standard-color{
    padding: 2rem;
    display: flex;
    gap:10px;
}
.home-page-container__explore-model-item__standard-color .color-swatch{
    border: 0.5px solid gray;
    width:15px;
    height:15px;
}
.home-page-container__explore-model-item__carName{
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
}
.home-page-container__explore-model-item__carModel{
    font-size:18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}
.home-page-container__explore-model-item__basePrice{
    font-size:13px ;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding:0 2rem;
    text-align: center;
}
.home-page-container__explore-model-item__btnGrp{
    display: flex;
    width:100%;
    padding: 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.home-page-container__buyNow,
.home-page-container__learnMore{
    padding: 1rem;
    border:none;
    background-color: #31A93E;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    cursor: pointer;    
    margin: 0;
}
.home-page-container__learnMore:hover{
    background-color: black;
    color:white;
}
.home-page-container__buyNow{
    color:#31A93E;
    background-color: transparent;
}
.model-list__btn-container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.home-page-container__explore-model-item__compare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem 2rem;
}
.home-page-container__explore-model-item__acceleration-container,
.home-page-container__explore-model-item__seating-container,
.home-page-container__explore-model-item__cargo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}
.home-page-container__explore-model-item__acceleration-container svg,
.home-page-container__explore-model-item__seating-container svg,
.home-page-container__explore-model-item__cargo-container svg{
    margin:0.5rem;
}

.home-page-container__explore-model-item__acceleration-container span,
.home-page-container__explore-model-item__seating-container span,
.home-page-container__explore-model-item__cargo-container span{
    font-size:13px;
    color:#000;
    padding:0.5rem;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}
.home-page-container__shopping-tools{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}
.home-page-container__find-section{
    background-color: #F5F5F7;
    padding:2rem 5rem;
    overflow-x: scroll;
}

.home-page-container__find__card{
    background-color: white;
    width:400px;
    height: 350px;
    border-radius:30px;
    margin:1rem;
    padding:2.5rem;
}
.home-page-container__find-section::-webkit-scrollbar,
.home-page-container__find__card::-webkit-scrollbar{
    display: none;
}
.home-page-container__find__card__link{
    display: flex;
    justify-content: flex-end;
}
.home-page-container__find__card h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 1rem 0;
}
.home-page-container__find__card p{
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 0;
}

.home-page-container__explore-section__control-btns{
    display: flex;
    justify-content: flex-end;
}
.home-page-container__scroll-button-container{
    display: flex;
    justify-content:flex-end ;
    padding:2rem
}
.home-page-container__scroll-button{
    background-color: transparent;
    border: none;
    margin: 0.5rem;
}
.home-page-container__scroll-button:focus{
    background-color: none;
}
@keyframes appear {
    from {
        opacity: 1;
        transform: scale(1.3);
    }
    to {
        opacity: 1;
        transform: scale(0.8);
    }
}
@keyframes appear_noscale {
    from {
        opacity: 0;
        transform: translateY(100px); 
    }
    to {
        opacity: 1;
        transform: translateY(-50px); 
    }
}
@keyframes text_appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

