@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.home-page-container {
    width: 100%;
    height: 200%;
    height: fit-content;
    background: rgb(42, 46, 56);
    background: linear-gradient(0deg, rgba(42, 46, 56, 1) 0%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 100%);
}

.home-page-container__car-info {
    background: rgb(42, 46, 56);
    background: linear-gradient(0deg, rgba(42, 46, 56, 1) 0%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 1) 100%);
    padding: 3rem;
}

.home-page-container__showroom-button {
    background-color: white;
}

.home-page-container__h2 {
    margin: auto;
    color: #3B3E4B;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 600px;
}

.home-page-container__p {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 50px;
    padding: 0;
    line-height: 90px;
    text-align: center;
}
.home-page-container__img{
    width:80%;
    margin-top:-400px;
}
.home-page-container__showroom-button{
    background-color: pink;
}




