.home-container{
  width:100%;
  height:100%;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 1000;
  color: white;
  font-family: "Racing Sans One", sans-serif;
}

header::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  height: 5px;
  width: 40%;
  background: linear-gradient(90deg, #f3f2f2, transparent);
}

header .year {
  font-family: 'Racing Sans One', cursive;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 40px;
}

header .menu {
  position: relative;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
}

header .icon {
  width: 40px;
  height: 40px;
}

.logo {
  font-size: 30px;
  color: #ffffff;
}

.logo img {
  max-width: 200px;
  filter: invert(1);
}

header .menu.active {
  position: relative;
  height: 35px;
  width: 35px;
  background-size: 35px;
  background-position: center;
  filter: invert(1);
  cursor: pointer;
}

.nav {
  z-index: 200;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 30%;
  height: 5px;
  border-bottom: 5px solid;
  border-image: linear-gradient(90deg, transparent, white,#f3f2f2) 30;
  background-color: transparent;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform-origin: right;
}

.nav.active {
  top: 100px;
  width: 40%;
  height: 100px;
  border-top: 5px solid;
  border-bottom: none;
}

.nav li {
  position: relative;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: 0.5s;
}

.nav.active li {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.nav li a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 8px 20px;
  transition: 0.2s;
  cursor: pointer;
}

.nav li a:hover {
  box-shadow: inset 0 0 20px rgba(0, 194, 222, 0.5);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.banner::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9));
}

.banner .bg-video {
  display: none;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner .bg-video.active {
  display: block;
  filter: brightness(200%);
}

.banner .content {
  position: relative;
  max-width: 700px;
  padding: 0;
  padding-bottom: 200px;
  z-index: 100;
  left: -300px;
  top: 60px;
}

.banner .content h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 10em;
  color: #fff;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: 5px;
}

.banner .content .model {
  font-size: 4em;
  text-transform: uppercase;
  color: var(--primary);
  display: none;
}

.banner .content .model.active {
  display: block;
}

.banner .content p {
  color: #fff;
  font-size: 200;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.banner .content a {
  position: absolute;
  width: 100px;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  background: transparent;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg,
      transparent,
      var(--primary),
      var(--primary),
      transparent) 30;
  box-shadow: inset 0 0 10px rgba(0, 194, 222, 0.5);
  backdrop-filter: blur(20px);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.banner .content a:hover {
  box-shadow: inset 0 0 100px rgba(0, 194, 222, 0.5);
}

.banner .gallery {
  position: absolute;
  content: '';
  left: 40%;
  bottom: 3%;
  width: 55%;
  height: 10%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .gallery::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  filter: blur(15px);
}

.carousel .carousel-item img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.carousel .carousel-item h4 {
  text-align: center;
  margin: 0;
  color: white;
  font-family: 'Racing Sans One', cursive;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.banner .play,
.banner .pause {
  display: none;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 5em;
  cursor: pointer;
  z-index: 100;
  opacity: 0.3;
  transition: 0.3s;
}

.banner .play:hover,
.banner .pause:hover {
  opacity: 1;
}

.banner .play.active {
  display: block;
  transition: 0.3s;
}

.banner .pause.active {
  display: block;
  transition: 0.3s;
}

.car-info {
  background-color: white;
  height: fit-content;
}

.car-info .container {
  margin: auto;
  width: 95%;
  height: 100%;
  
  background: linear-gradient(to bottom,#f3f2f2 40%,white);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.car-info .container .icon{
  margin-top: 4rem;
  font-size: 2rem;
}
.car-info .container .head-text{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 3rem;
}
.car-info .container .head-text span{
  color:gray;
}
.model-carousel {
  margin-top: 450px;
  width: 100vw;
}

.model-carousel .carousel {
  margin-top: 2rem;
  height: 50%;
}

.model-carousel .carousel .carousel-item {
  width: 50%;
  margin-top: 30px;
  left:15%;
}

.model-carousel .carousel .carousel-item p{
  text-align: center;
  font-size: 15px;
  font-family: 'Poppins';
}

.model-carousel .carousel .carousel-item img {
  margin-top: 60px;
  width: 200px;
  bottom: 0;
  z-index: 2;
}

.model-carousel .carousel .carousel-item .model-name {
  position: absolute;
  left: 30%;
  font-size: 5rem;
  z-index: 1;
}
.carousel .indicators {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .indicators .indicator-item {
  display: inline-block;
  width: 100px;
  height: 5px;
  margin-bottom: -10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel .indicators .indicator-item.active {
  background-color: var(--primary);
}

.brand-name{
  font-size: 220px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(180deg, white 40%, var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.5s ease-in-out;
}

.car-info .container .car-details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-info .container .car-details .left,
.car-info .container .car-details .right{
  margin: 0;
  padding: 2rem;
  height:300px;
}

.car-info .container .car-details .left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 5rem;  
  width:45%;
}
.car-info .container .car-details .right{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:55%;
  padding: 1rem 5rem;  
}
.car-info .container .car-details .left p{
  width:80%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  padding: 1rem;
}
.car-info .container .car-details .right p{
  width:60%;
  height: fit-content;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 50px;
  padding: 1rem;
}
.car-info .container .car-details .right p span{
  display: block;
  font-size: 15px;
}
.car-info .container .car-details .right p sup{
  font-size:15px;
}
.car-info .container .car-details .left .explore-btn-grp{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  transition: color 0.5s ease-in-out;
  width: fit-content;
}
.car-info .container .car-details .left .explore-btn-grp:hover{
  color:#ffeaea;
}
.car-info .container .car-details .left .explore-btn-grp svg{
  font-size:5px;
  margin-left: 3px;
  transition: transform 0.3s ease-in-out; 
}

.car-info .container .car-details .left .explore-btn-grp:hover svg {
  transform: rotate(90deg); 
}
.car-interior,
.car-exterior{
  padding: 5rem;
  height: 160vh;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.car-interior{
  height: 200vh;
}
.car-interior .car-int-head,
.car-exterior .car-ext-head{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 3rem;
}
.car-interior .car-int-head h2,
.car-exterior .car-ext-head h2{
  text-transform: uppercase;
  color: white;
  font-family: 'Poppins';
  font-weight: 300;
  width:50% ;
}
.car-interior .car-int-head h2 span,
.car-exterior .car-ext-head h2 span{
  color: #EB6418;
}
.car-interior .car-int-head p,
.car-exterior .car-ext-head p{
  width:30% ;
  color: #f3f2f2;
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 200;
  margin-left:0;
}
.car-exterior .car-ext-img img{
  padding: 3rem;
  width:80vw;
}

.rotate-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.car-interior .car-int-img {
  display: flex;
  justify-content: space-around;
  align-items:center ;

}
.car-interior .car-ext-img .left,
.car-interior .car-ext-img .right{
  width: 50%;
}
.car-interior .car-int-img .circle{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-right: 0;
  margin-right: 10px;
}
.car-interior .car-int-img .square{
  width: 400px;
  height: 400px;

}


.rotate-icon:hover {
  transform: rotate(360deg);
}
.color-swatches {
  display: flex;
  gap: 10px;
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect on hover */
}

.swatch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

.swatch:hover::after {
  width: 25px; 
  height: 25px; }

  .car-reels {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .car-reels video {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .car-reels .overlay-text {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #f3f2f2;
    font-size: 50px;
    font-family: 'Poppins', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    pointer-events: none; 
    line-height: 50px;
    font-weight: 200;
  }
 

  @media screen and (max-width: 768px) {
    .car-info .head-text h2 {
      font-size: 2rem;
    }
    
    .car-info .head-text span {
      font-size: 1.2rem;
    }
    
    .car-info .brand-name {
      font-size: 100px;
    }
    
    .car-info .car-details .left p {
      font-size: 0.5rem;
    }
    
    .car-info .car-details .right p {
      font-size: 0.9rem;
      width:100%;
    }
    
    .car-info .car-details .right p sup {
      font-size: 0.7rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .car-info .head-text h2 {
      font-size: 50px;
    }
    
    .car-info .head-text span {
      font-size: 50px;
    }
    
    .car-info .brand-name {
      font-size: 80px;
    }
    
    .car-info .car-details {
      flex-direction: column;
      background-color: pink;
      width: inherit;
      padding: 0;
    }
    
    .car-info .car-details .left,
    .car-info .car-details .right {
      padding: 0;
      text-align: center;
    }
    
    .car-info .car-details .left p,
    .car-info .car-details .right p {
      font-size: 0.5rem;
    }
    
    .car-info .car-details .right p sup {
      font-size: 0.6rem;
    }
  }