.button-design{
    width:100%;
}
.button-design__btn{
    width:98%;
    border-radius: 5px;
    background-color: #000000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 1rem;
    margin: 10px;
    color:#CCCBCB;
    border: none;
}
.button-design__btn:hover{
    background-color: #31A93E;
    color:#ffffff;
}