.date-container {
    width:100%;
    height: fit-content;
  }
  
  .date-container__title {
    color:#555454;
    font-size: 15px;
    padding: 2px;
  }
  
  .date-container__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2px;
  }
  .date-card{
    padding: 2rem;
    margin:5px;
    width:150px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
  }


  .date-card:hover {
    border: 2px solid #31A93E;
}

.date-card.selected {
    background-color: #E6F4E7;
    border-color: #E6F4E7;
    border: 2px solid #31A93E;
}
