.date-container {
    width:100%;
    height: fit-content;
  }
  
  .date-container__title {
    color:#555454;
    font-size: 15px;
    padding: 2px;
  }
  
  .date-container__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2px;
  }